<div class="container">
  <div class="row header">
    <div class="col-sm-6">
      Logo
    </div>
    <div class="col-sm-6">
      Menu
    </div>
  </div>
  <div class="row main-content">
    <div class="col-sm-12">
      <h3>Add Article</h3>
      <br />

      <label for="title">Label:</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="title" #newTitle>
      <br />
      <label for="link">Link:</label>
      <input type="text" class="form-control" name="link" [(ngModel)]="link" #newLink>

      <br/>
      <button (click)="addArticle(newTitle, newLink)" class="button btn btn-primary">Add</button>
    </div>
  </div>
</div>