<div class="row">
    <div class="col-sm-12">
        <h1>
            Citi Private Bank In View - Your digital experience with a personal touch
        </h1>
        <p>
            Hello {{username || 'Pranav'}},
        </p>
        <p>
            I am delighted to invite you to enroll into Citi Private Bank In View, your exclusive digital platform.<br />
            You are just few clicks away from completing your access. <br />
            If you have any qustions, please feel free to contact me. 
        </p>
        <p>
            Best Regards,<br />
            XYZ<br />
            +451-5679-4213
        </p>
        
        <div class="button-section">
            <a class="btn btn-primary" [routerLink]="['/verifyIdentity']">Start Enrollment</a>
        </div>
    </div>
</div>